<!-- find me here > https://github.com/Yaswanth-C -->
{% extends 'base.html' %}
{% block title %}
Shorten any URL
{% endblock %}
{% block content %}
<div class="nav-h">
    URL Shortener
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5" id="f-cn">
            <div class="custom">
                <div class="h-bg">
                    <h3 class="title">URL Shortener</h3>
                </div>
                <div class="card-body">
                    <form action="" class="url-form" id="form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <label for="full_url">Enter a long url</label>
                                <input type="url" name="full_url" id="full_url" class="input-t inp-hover" placeholder=" " required>
                                <small class="text-muted">A long URL of your choice.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="tiny">Customize your link <i style="font-weight: 100;font-size: small;">(optional)</i> </label>
                                <input type="text" name="tiny_url" id="tiny_url" class="input-t inp-hover" placeholder=" ">
                                <small class="text-muted">Aa alias for your URL.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="submit" class="button" id="button" value="Shorten URL"></div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div>
                <div class="alert alert-light alert-dismissible fade show shadow" role="alert" id="success-res" style="display: none;">
                    <button type="button" class="close close-scc">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>Here is your link !!</strong>
                    <br><span id="success-msg"></span>
                </div>

                <div class="alert alert-danger alert-dismissible fade show shadow" role="alert" id="error-res" style="display: none;">
                    <button type="button" class="close close-err">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <strong>oops !</strong>
                    <br><span id="error-msg"></span>
                </div>
                

            </div>
            <div>
                <div class="row">
                    <div class="qr-container" id="qr-container" style="display: none;">
                        <div class="toggle-btns">
                            <div class="btn-bg">
                                <button class="qr-btn" id="t-url-btn">tiny-url</button>
                            </div>
                            <div class="btn-bg">
                                <button class="qr-btn" id="f-url-btn">full-url</button>
                            </div>
                        </div>
                        <div class="qr-code">
                            <div class="qr-image" id="tiny-url-qr" style="height: 310px;width: 290px;display: block;">
                                <span>QR code for the Tinyurl</span>
                                <img src="" alt="" id="tiny_url_qr_pic" height="290" width="290">
                            </div>
                            <div class="qr-image" id="full-url-qr" style="height: 310px;width: 290px;display: none;">
                                <span>QR code for the full url</span>
                                <img src="" alt="" id="full_url_qr_pic" height="290" width="290">
                            </div>
                        </div>
                        {% if request.META.HTTP_HOST == "127.0.0.1:8000" %}
                        <div class="local-note">
                            The tiny url QRcode wont work <br>since you are running this project locally.
                        </div>
                        {% endif %}
                    </div>
                    
                </div>      
            </div>   
        </div>
        <div class="col-sm-12 col-md-5 col-lg-6 offset-lg-1" id="jj">
            <div style="margin-top: 50px;"></div>
            <h3 class="bga">Most visited</h3>
            <div class="most-visit">
                {% for i in data %}
                <div class="list-item">
                    <span style="font-weight: 600;">#{{ forloop.counter }}</span>
                    <span><a href="http://{{request.META.HTTP_HOST}}/{{ i.tiny_url }}" target="_blank" rel="noopener noreferrer">http://{{request.META.HTTP_HOST}}/{{ i.tiny_url }}</a></span>
                    <span class="badge bg-purple">{{ i.clicks }} clicks</span>
                    <hr style="background-color: whitesmoke;">
                </div>
                {% empty %}
                <div class="list-item">
                    The most visited URLs will appear here.
                </div>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>
<br>
<div id="pko90-9" style="display: none;">{{ request.META.HTTP_HOST }}</div>
<div id="res"></div>

<script>
$(document).ready(function(){
    $('.close-scc').on('click',function(){
        $('#qr-container').fadeOut(1900).slideUp(1900);
        $('#success-res').fadeOut(1700).slideUp(1400);
        $('html,body').animate({scrollTop:0},2000);
    });
    $('.close-err').on('click',function(){$('#error-res').fadeOut(800).slideUp(900);$('html,body').animate({scrollTop:0},1300);});
    function animateToBottom(success=false){
        if(success){
            $('html,body').animate({scrollTop:600},1800);
        }
        else{
            $('html,body').animate({scrollTop:300},1200);
        }
    }
    $('#success-res, #error-res').hide();
    $('#form').submit(function(e){
        $('#success-res, #error-res').hide();
        e.preventDefault();
        var serialisedData = $(this).serialize();
        $.ajax({
            type : 'POST',
            url : '',
            data : serialisedData,
            success:function(response){
                var siteLink = $('#pko90-9').text();
                $('#success-msg').html(`Link : <a href="http://${siteLink}/${response['tiny_url']}">http://${siteLink}/${response['tiny_url']}</a>`);
                $('#tiny_url_qr_pic').attr('src',`data:image/png;base64,${response['qr_tiny_url']}`);
                $('#full_url_qr_pic').attr('src',`data:image/png;base64,${response['qr_full_url']}`);
                console.log(response['qr_tiny_url'])
                $('#error-res').hide();
                $('#qr-container').show();
                $('#success-res').show();
                animateToBottom(success=true);
            },
            error:function(response){
                var errors = response['responseJSON']['error'];
                $('#error-msg').html('');
                for(var error of errors){
                    $('#error-msg').append(`${error}<br>`);
                }
                $('#error-res').show();
                $('#qr-container').hide();
                $('#success-res').hide();
                animateToBottom();
            },
        });
        var btn_attr=""
        const submit_btn= $('#button');
        $(document).ajaxStart(()=>{
            btn_attr=submit_btn.attr("value");
            submit_btn.attr("value","Your link is on the way...");
        });
        $(document).ajaxStop(()=>{
            submit_btn.attr("value","Shorten another..");
        });
    });
});
</script>
<script>
    const t_url=document.querySelector("#t-url-btn");
    const f_url=document.querySelector("#f-url-btn");
    const t_url_qr = document.getElementById("tiny-url-qr");
    const f_url_qr = document.getElementById("full-url-qr");
    const t_url_btn_div = t_url.parentElement;
    const f_url_btn_div = f_url.parentElement;
    t_url.classList.add("qr-btn-active")
    t_url_btn_div.classList.add("btn-bg-clr");

    t_url.addEventListener('click',function(){
        t_url_qr.style.display="block"
        f_url_qr.style.display="none";
        t_url_btn_div.classList.add("btn-bg-clr");
        f_url_btn_div.classList.remove("btn-bg-clr");
        t_url.classList.add("qr-btn-active")
        f_url.classList.remove("qr-btn-active")
    });
    
    f_url.addEventListener('click',function(){
        t_url_qr.style.display="none";
        f_url_qr.style.display="block";
        f_url_btn_div.classList.add("btn-bg-clr");
        t_url_btn_div.classList.remove("btn-bg-clr");
        f_url.classList.add("qr-btn-active")
        t_url.classList.remove("qr-btn-active")
    })

</script>
{% endblock %}
